@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root
{
   --bg-black-900:#f2f2fc;
   --bg-black-100:#fdf9ff;
   --bg-black-50:#e8dfec;
   --text-black-900:#302e4d;
   --text-black-700:#504e70;
}

body.dark
{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
 }

body
{
    line-height:1.5;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
}    

*
{
    margin: 0;
    padding: 0;
    outline:none;
    text-decoration:none;
    box-sizing:border-box;
}

::before, ::after
{
    box-sizing:border-box;
    

}

.nav
{
    list-style: none;
}

.homeSection
{
    background:var(--bg-black-900);
    min-height:100vh;
    display:block;
    padding:0 30px;
    opacity:1;
}

.hidden
{
   display:none !important; 
}

.mainContent
{
    padding-left:270px;
}

.padd-15
{
    padding-left:15px;
    padding-right:15px;
}

.container
{
    max-width:1100px;
    width:100%;
    margin:auto;
}

 .sectionTitle, .container
{
    padding-top:60px;
    padding-bottom: 70px;
    margin-left:30px;
}

.sectionTitle
{
    flex:0 0 100%;
    max-width:100%;
}

.sectionTitle h2
{
    font-size:40px;
    color:var(--text-black-100);
    font-weight:700;
    position:relative;
}

.sectionTitle h2::before
{
    content:'';
    height:4px;
    width:50px;
    background-color:var(--skin-color);
    position:absolute;
    top:100%;
    left:0;
}

.sectionTitle h2::after
{
    content:'';
    height:4px;
    width:25px;
    background-color:var(--skin-color);
    position:absolute;
    top:100%;
    left:0;
    margin-top:8px;
}


.row
{
    display:flex;
    flex-wrap:wrap;
    margin-left: -15px;
    margin-right: -15px;
    position:relative;
}

.btn
{
    font-size:16px;
    font-weight:500;
    padding: 12px 35px;
    color:white;
    border-radius:40px;
    display:inline-block;
    white-space:nowrap;
    border:none;
    background:var(--skin-color);
    transition:all 0.3s ease;
}

.btn:hover
{
    transform:scale(1.05);
}

.shadow-dark
{
    box-shadow:0 0 20px rgba(48, 46, 77, 0.15);
}

/* Aside */

.aside
{
   width:270px;
   background:var(--bg-black-100);
   position:fixed;
   left:0;
   top:0;
   padding:30px;
   height:100%;
   border-bottom: 1px solid var(--bg-black-50);
   display:flex;
   justify-content:center;
   align-items:center;
   z-index:10;
}

.aside .logo
{
    position:absolute;
    top:50px;
    font-size:30px;
    text-transform:capitalize;
}

.aside .logo a
{
  color:var(--text-black-900);
  font-weight:700;
  padding:15px 20px;
  font-size:30px;
  letter-spacing:5px;
  position:relative;
}

.aside .logo a span
{
    font-family:'Clicker Script', cursive;
    font-size:40px;
}

.aside .logo a::before
{
    content:'';
    position:absolute;
    width:20px;
    height:20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom:0;
    left:0;
}

.aside .logo a::after
{
    content:'';
    position:absolute;
    width:20px;
    height:20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top:0;
    right:0;
}

.aside .navToggler
{
    height:40px;
    width:45px;
    border: 1px solid var(--bg-black-50);
    cursor:pointer;
    position:fixed;
    left: 300px;
    top:20px;
    border-radius:5px;
    background: var(--bg-black-100);
    display:none;
    align-items:center;
    justify-content:center;
}

.aside .navToggler span
{
     height:2px;
     width:18px;
     background: var(--skin-color);
     display:inline-block;
     position:relative;
}

.aside .navToggler span::before
{
     content:'';
     height:2px;
     width:18px;
     background:var(--skin-color);
     position:absolute;
     top: -6px;
     left:0;
}

.aside .navToggler span::after
{
     content:'';
     height:2px;
     width:18px;
     background:var(--skin-color);
     position:absolute;
     top: 6px;
     left:0;
}

.aside .nav
{
    margin-top:50px;
}

.aside .nav li
{
    margin-bottom:20px;
    display:block;
}

.aside .nav li a
{
    font-size:16px;
    font-weight:600;
    display:block;
    border-bottom:1px solid var(--bg-black-50);
    color:var(--text-black-900);
    padding:5px 15px;

}

.aside .nav li a.active
{
    color:var(--skin-color);
}

.aside .nav li a i
{
    margin-right: 15px;
}

/*      Home     */

.homeSection
{
    min-height:100vh;
    display:flex;
    color: var(--text-black-900);
}

.home, .homeInfo
 
{
    flex:0 0 60%;
    max-width:60%;
}

h3.hello
{
    font-size:28px;
    margin:15px 0;
}

h3.hello span
{
    font-family:'Clicker Script' ,  cursive;
    font-size:30px;
    font-weight:700;
    color:var(--skin-color);
}

h3.myProfession
{
    font-size:30px;
    margin:15px 0;
}

.typing
{
    color:var(--skin-color);
}

.homeInfo p
{
    margin-bottom:70px;
    font-size:20px;
    color:var(--text-black-700);
}

.home, .homeImg
{
    flex:0 0  40%;
    max-width:40%;
    text-align:center;
    position:relative;
}

.homeImg::after
{
    content:'';
    position:absolute;
    height:80px;
    width:80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right:20px;
    bottom:-40px;

}

.homeImg::before
{
    content:'';
    position:absolute;
    height:80px;
    width:80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left:-20px;
    top:-40px;

}

.home, .homeImg img
{
    margin:auto;
    border-radius:5px;
    height:400px;
    
}

/*         About      */

.about, .aboutContent
{
    flex:0 0 100%;
    max-width:100%;
    
}

.about, .aboutContent, .aboutText
{
    flex:0 0 100%;
    max-width:100%;
    margin-left:10px;

}

.about, .aboutContent .aboutText h3
{
    font-size:24px;
    margin-bottom:15px;
    font-weight:700;
    color:var(--text-black-900);
}

.about, .aboutContent .aboutText h3 span
{
    color:var(--skin-color);
}

.about, .aboutContent .aboutText p
{
    font-size:16px;
    line-height:25px;
    color:var(--text-black-700);
}

.about, .aboutContent .personalInfo
{
    flex:0 0 50%;
    max-width:50%;
    margin-left:10px;
    margin-top: 40px;
}

.about, .aboutContent .personalInfo .infoItem
{
    flex:0 0 50%;
    max-width:50%;
}

.about, .aboutContent .personalInfo .infoItem p
{
    font-weight:600;
    padding:10px 0;
    font-size:16px;
    color:var(--text-black-900);
    border-bottom:1px solid var(--bg-black-50);
}

.about ,.aboutContent .personalInfo .infoItem p span
{
    font-weight:400;
    color:var(--text-black-700);
    margin-left: 4px;
    display:inline-block;
}

.about ,.aboutContent .personalInfo .buttons
{
    margin-top:30px;
}

.about ,.aboutContent .personalInfo .buttons .btn
{
    margin-right: 15px;
    margin-top: 10px;
}

.about ,.aboutContent .skills
{
    flex:0 0 45%;
    max-width:45%;
    margin-top: 40px;
}

.about, .aboutContent .skills .skillItem
{
    flex:0 0 100%;
    max-width:100%;
}

.about ,.aboutContent .skills .skillItem h5
{
    line-height:40px;
    font-weight:600;
    font-size:16px;
    color:var(--text-black-900);
    text-transform: capitalize;
}

 .about ,.aboutContent .skills .skillItem .progress
{
    background-color:var(--bg-black-50);
    height:7px;
    border-radius:4px;
    width:100%;
    position:relative;
}

.about ,.aboutContent .skills .skillItem
{
    margin-bottom: 25px;
}

.about ,.aboutContent .skills .skillItem .progress .progressIn
{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    border-radius:4px;
    background-color:var(--skin-color);
}

.about ,.aboutContent .skills .skillItem .skillPercent
{
    position:absolute;
    right:0;
    color:var(--text-black-900);
    top:-40px;
    font-weight:400;
    line-height: 40px;
}

.about, .aboutContent .education,
.about ,.aboutContent .experience
{
    flex:0 0 50%;
    max-width:50%;
    margin-top:30px;
}

.about, .aboutContent h3.title
{
    font-size:24px;
    margin-bottom: 30px;
    font-weight:700;
    margin-left:15px;
    color:var(--text-black-900);
}

.about, .aboutContent .timelineBox
{
    flex:0 0 100%;
    max-width:100%;
    margin-left:15px;
}

.about, .aboutContent .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border:1px solid var(--bg-black-50);
    border-radius: 10px;
    width:100%;
    position:relative;
}

.about, .aboutContent .timeline .timelineItem
{
    position:relative;
    padding-left:37px;
    padding-bottom:50px;
}

.about, .aboutContent .timeline .timelineItem:last-child
{
    padding-bottom: 0; 
}

.about, .aboutContent .timeline .timelineItem::before
{
    content:'';
    width:1px;
    position:absolute;
    height:100%;
    left:7px;
    top:0;
    background-color: var(--skin-color);
}

.about, .aboutContent .timeline .circle-dot
{
    position:absolute;
    left:0;
    height:15px;
    width:15px;
    border-radius:50%;
    background-color: var(--skin-color);
}

.about, .aboutContent .timeline
{
    font-weight:400;
    font-size:14px;
    margin-bottom:12px;
    color:ver(--text-black-700);
}

.about, .aboutContent .timeline .timeline-date .homeImg::after
{
    margin-right:5px;
}

.about, .aboutContent .timeline .timelineTitle
{
    font-weight:700;
    font-size:18px;
    margin-bottom:15px;
    text-transform:capitalize;
    color:var(--text-black-900);
}

.about, .aboutContent .timeline .timelineText
{
    line-height:25px;
    font-size:16px;
    text-align:justify;
    color:var(--text-black-700);
}

/*     Services      */
.service, .container
{
    padding-bottom:40px;
}


.service ,.serviceItem
{
    margin-bottom:30px;
    flex:0 0 33.33%;
    max-width:33.33%;
}

.service, .serviceItem .serviceItem-inner
{
    background-color: var(--bg-black-100);
    border:1px solid var(--bg-black-50);
    border-radius:10px;
    padding:30px 15px;
    text-align:center;
    transition: all 0.3s ease;
}

.service, .serviceItem .serviceItem-inner:hover
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service, .serviceItem .serviceItem-inner .icon
{
    height:60px;
    width:60px;
    border-radius:50%;
    display:block;
    margin:0 auto 30px;
    text-align:center;
    transition:all 0.3s ease;
}

.service, .serviceItem .serviceItem-inner .icon .fa
{
    font-size:40px;
    line-height:60px;
    color:var(--skin-color);
    transition: all 0.3s ease;
}

.service, .serviceItem .serviceItem-inner:hover .icon
{
    background: var(--skin-color);
}

.service, .serviceItem .serviceItem-inner:hover .icon .fa
{
    font-size:25px;
    color:#ffffff;
}

.service, .serviceItem .serviceItem-inner h4
{
    font-size:18px;
    margin-bottom: 15px;
    color:var(--text-black-900);
    font-weight:700;
    text-transform: capitalize;
}

.service, .serviceItem .serviceItem-inner p
{
    font-size:16px;
    color:var(--text-black-700);
    line-height:25px;
}

/*    Portfolio    */
.portfolio, .container
{
    padding-bottom:40px;
}

.portfolio, .portfolioHeading
{
    flex:0 0 100%;
    max-width:100%;
    margin-bottom:40px;
}

.portfolio, .portfolioHeading h2
{
    color:var(--text-black-900);
    font-weight:500;
}

.portfolio, .porfolioItem
{
    flex:0 0 33.33%;
    max-width:33.33%;
    margin-bottom:30px;
}

.portfolio, .portfolioItem-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius:10px;
    overflow:hidden;
    cursor:pointer;
}

.portfolio, .portfolioItem-inner .portfolioImg img
{
    width:100%;
}

/*  Contact  */
.contactTitle
{
    color:var(--skin-color);
    text-align:center;
    font-size:25px;
    margin-bottom:20px;
}

.contactSub-title
{
    color:var(--text-black-900);
    text-align:center;
    font-size:15px;
    margin-bottom:60px;
}

.contact, .contactInfo-item
{
    flex:0 0 25%;
    max-width:25%;
    text-align:center;
    margin-bottom:60px;
}

.contact, .contactInfo-item .icon
{
    display:inline-block;
}

.contact, .contactInfo-item .icon .fa
{
    font-size:25px;
    color:var(--skin-color);
}

.contact, .contactInfo-item h4
{
    font-size:18px;
    font-weight:700;
    color:var(--text-black-900);
    text-transform: capitalize;
    margin:15px 0 5px;
}

.contact, .contactInfo-item p
{
    font-size:16px;
    line-height:25px;
    color:var(--text-black-700);
    font-weight:400;
}

.contact, .contactForm
{
    flex:00 100%;
    max-width:100%; 
}

.contact, .contactForm .col-6
{
    flex:0 0 50%;
    max-width:50%;
}

.contact, .contactForm .col-12
{
    flex:0 0 100%;
    max-width:100%;
}

.contact, .contactForm .col-6
{
    flex:0 0 50%;
    max-width:50%;
}

.contact, .contactForm .formItem
{
    margin-bottom:30px;
}

.contact, .contactForm .formItem .formControl
{
    width:100%;
    height:50px;
    border-radius:25px;
    background:var(--bg-black-100);
    border:1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size:16px;
    color:var(--text-black-700);
    transition:all 0.3s ease;
}

.contact, .contactForm .formItem .formControl:focus
{
    box-shadow:0 0 20px rgba(48, 46, 77, 0.15);
}

.contact, .contactForm .formItem textarea.formControl
{
    height:140px;
}

.contact, .contactForm .btn
{
    height:50px;
    padding:0 50px;
}

@media(max-width:1199px)
{
    .aside
    {
        left:-270px;
    }
    .mainContent
    {
        padding-left:0;
    }
    .about, .aboutContent .personalInfo .infoItem p span
    {
        display:block;
        margin-left:0;
    }
}

@media(max-width:991px)
{
    .contact, .contactInfo-item,
    .portfolio, .portfolioItem,
    .servic, .serviceItem
    {
        flex:0 0 50%;
        max-width:50%;
    }
    .home, .homeInfo
    {
        flex:0 0 100%;
        max-width:100%;
    }
    .home, .homeImg
    {
       display:none; 
    }
}

@media (max-width:767px)
{
    .contact, .contactForm .col-6,
    .contact, .contactInfo-item,
    .portfolio, .portfolioItem,
    .service, .serviceItem,
    .about, .aboutContent .experience,
    .about, .aboutContent .education,
    .about, .aboutContent .skills,
    .about, .aboutContent .personalInfo
    {
        flex:0 0 100%;
        max-width:100%;
    }
}